In [1]:

import pandas as pd
import sqlite3

In [22]:
conn = sqlite3.connect("./hcaplite.sqlite")
citations = pd.read_sql("SELECT * FROM case_citations", conn)
citations.groupby(['cites_to_case_id']).count().sort_values('case_id', ascending=False).head(10)

                  case_id
cites_to_case_id
2866138              1632
5550081              1450
3138930              1174
5809665              1101
3147214               835
5463653               717
5426498               669
3166688               591
2933485               541
4820940               515

In [23]:
attorney_cases = pd.read_sql("SELECT * FROM attorney_cases AS ac INNER JOIN attorneys AS att ON att.id = ac.attorney_id", conn)

attorney_cases.groupby("case_id").get_group(3147214)

,attorney_id,case_id,party,party_type,title,id,names
59713,36244,3147214,appellant,private,assistant defender,36244,gary s. rapaport
59714,12430,3147214,the people,government,attorney general,12430,neil f. hartigan
59715,76676,3147214,the people,private,assistant attorneys general,76676,sally l. dilgart jack donatelli