In [1]:
# Load libraries
import pandas as pd
import sqlite3

conn = sqlite3.connect("./hcap.sqlite")

# Attorneys without case information (non-repated attorney names)
attorneys = pd.read_sql("SELECT * FROM attorneys", conn)

# Attorneys joined with their ID and case ID
attscases = pd.read_sql("SELECT * FROM attorneys AS att INNER JOIN attorney_cases AS attc ON att.id = attorney_id", conn)

In [2]:

## Attorney involved in the most cases (govt. and private)?

attcases = attscases.groupby(["attorney_id"])
topatt = attcases.size().sort_values(ascending=False).head(3)
topatt

attorney_id
6070     5564
14916    3551
13517    2413
dtype: int64

In [3]:
# Find the actual top attorney
topatt_id = topatt.index.tolist()[0]
print("Top Attorney ID: ", topatt_id)
attorneys[attorneys["id"] == topatt_id]

Top Attorney ID:  6070

        id             names
6069  6070  william j. scott

In [4]:

print(attorneys[attorneys["id"] == topatt_id].to_latex())

\begin{tabular}{lrl}
\toprule
{} &    id &             names \\
\midrule
6069 &  6070 &  william j. scott \\
\bottomrule
\end{tabular}

In [5]:

## Attorney involved in the most cases for private sector and for govt?

## First group and count
attcases_pvtgovt = attscases.groupby(["names", "party_type"])
attcases_pg_cnt = attcases_pvtgovt.count().sort_values("case_id", ascending=False).head(5)
attcases_pg_cnt

                               id  attorney_id  case_id  party  title
names            party_type
william j. scott government  5556         5556     5556   5556   5556
bernard carey    government  3550         3550     3550   3550   3550
james j. doherty private     2413         2413     2413   2413   2413
neil f. hartigan government  2171         2171     2171   2171   2171
richard m. daley government  2029         2029     2029   2029   2029

In [6]:
## Then obtain the maximums for each party type:
govt_and_pvt_atts = attcases_pg_cnt.loc[attcases_pg_cnt.groupby(level='party_type')['id'].idxmax()]
govt_and_pvt_atts

                               id  attorney_id  case_id  party  title
names            party_type
william j. scott government  5556         5556     5556   5556   5556
james j. doherty private     2413         2413     2413   2413   2413

In [7]:
print(govt_and_pvt_atts.to_latex())

\begin{tabular}{llrrrrr}
\toprule
                 &         &    id &  attorney\_id &  case\_id &  party &  title \\
names & party\_type &       &              &          &        &        \\
\midrule
william j. scott & government &  5556 &         5556 &     5556 &   5556 &   5556 \\
james j. doherty & private &  2413 &         2413 &     2413 &   2413 &   2413 \\
\bottomrule
\end{tabular}

In [8]:
attorneys[attorneys["id"].isin(atts_ids)]

NameError: name 'atts_ids' is not defined