In [1]:
# Load libraries
import pandas as pd
import sqlite3

conn = sqlite3.connect("./hcap.sqlite")
attorneys = pd.read_sql("SELECT * FROM attorneys AS att INNER JOIN attorney_cases AS attc ON att.id = attorney_id", conn)

In [2]:

## Attorney involved in the most cases (govt. and private)?

attcases = attorneys.groupby(["attorney_id"])
attcases.count().sort_values("id", ascending=False).head(1)

               id  names  case_id  party  party_type  title
attorney_id
6075         5559   5559     5559   5559        5559   5559

In [3]:

# Top 5 attorneys with case count
attcases.get_group(6075)
# top5 = attcases.count().sort_values("case_id", ascending=False).head(5)

,id,names,attorney_id,case_id,party,party_type,title
7892,6075,william j. scott,6075,5604938,the people,government,attorney general
7902,6075,william j. scott,6075,5605282,appellants,government,attorney general
8691,6075,william j. scott,6075,5602755,appellees,government,attorney general
8693,6075,william j. scott,6075,5604329,appellees,government,attorney general
8915,6075,william j. scott,6075,5604045,appellant,government,attorney general
...,...,...,...,...,...,...,...
110776,6075,william j. scott,6075,3120572,appellees robert h carroll sam thames,government,attorney general
110802,6075,william j. scott,6075,2633980,appellant,government,attorney general
110809,6075,william j. scott,6075,2633666,the people,government,attorney general
110816,6075,william j. scott,6075,5326904,respondent,government,attorney general
110818,6075,william j. scott,6075,5327568,respondent,government,attorney general

In [4]:

## Attorney involved in the most cases?
## First group and count
attcases_pvtgovt = attorneys.groupby(["attorney_id", "party_type"])
attcases_pg_cnt = attcases_pvtgovt.count().sort_values("case_id", ascending=False).head(5)
attcases_pg_cnt

                          id  names  case_id  party  title
attorney_id party_type
6075        government  5551   5551     5551   5551   5551
14931       government  3550   3550     3550   3550   3550
13530       private     2413   2413     2413   2413   2413
12363       government  2170   2170     2170   2170   2170
13531       government  2029   2029     2029   2029   2029

In [5]:
## Then obtain the maximums for each party type:

attcases_pg_cnt.loc[attcases_pg_cnt.groupby(level='party_type')['id'].idxmax()]

                          id  names  case_id  party  title
attorney_id party_type
6075        government  5551   5551     5551   5551   5551
13530       private     2413   2413     2413   2413   2413